apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-sample-app
  namespace: gitops-sample-app
  labels:
    app: gitops-sample-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitops-sample-app
  template:
    metadata:
      labels:
        app: gitops-sample-app
    spec:
      containers:
        - name: gitops-sample-app
          image: moabdelazem/gitops-app:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: gitops-sample-app-config
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
